
<div class="container">
  
  <div class="ui-g">
    
    <div class="ui-g-12">
      <h1>Lançamento</h1>
    </div>
  
    <div class="ui-g-12 ui-fluid">
      <label>Descrição</label>
      <input type="text" pInputText />
    </div>
  
    <div class="ui-g-12">
      <label style="display: block;">Vencimento</label>
      <input type="text" pInputText style="width: 95px;"/>
      <label>até</label>
      <input type="text" pInputText style="width: 95px;"/>
    </div>
  
    <div class="ui-g-12">
      <button pButton type="button" label="Pesquisar" class="ui-button-info"></button>      
    </div>

  </div>

</div>  
