<div class="container">
    <form #formulario="ngForm" autocomplete="off" (ngSubmit)="salvar(formulario)">

      <div class="ui-g">
        <div class="ui-g-12">
          <h1>{{ editando ? 'Edição de ' : " Novo "}} Pessoa</h1>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label>Nome</label>
          <input pInputText type="text" [(ngModel)]="pessoa.nome" name="nome"  #nome="ngModel" required minlength="5">
          <app-message [controle]="nome" erro="required" texto="Informe o nome"></app-message>
          <app-message [controle]="nome" erro="minlength" texto=" Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres."></app-message>
        </div>

        <div class="ui-g-12 ui-md-9 ui-fluid">
          <label>Logradouro</label>
          <input pInputText type="text" [(ngModel)]="pessoa.endereco.logradouro" name="logradouro" #logradouro="ngModel" required>
          <app-message [controle]="logradouro" erro="required" texto="Informe o logradouro"></app-message>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Número</label>
          <input pInputText type="text" [(ngModel)]="pessoa.endereco.numero" name="numero" #numero="ngModel" required>
          <app-message [controle]="numero" erro="required" texto="Informe o número"></app-message>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Complemento</label>
          <input pInputText type="text" [(ngModel)]="pessoa.endereco.complemento" name="complemento">
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Bairro</label>
          <input pInputText type="text"  [(ngModel)]="pessoa.endereco.bairro" name="bairro" #bairro="ngModel" required>
          <app-message [controle]="bairro" erro="required" texto="Informe o bairro"></app-message>
        </div>

        <!--
        a - Alpha character (defaut: A-Z,a-z)
        9 - Numeric character (0-9)
        * - Alpha numeric character (A-Z,a-z,0-9)
         -->
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>CEP</label>
          <p-inputMask mask="99.999-999"  [(ngModel)]="pessoa.endereco.cep" name="cep" ngModel #cep="ngModel" required></p-inputMask>
          <app-message [controle]="cep" erro="required" texto="Informe o CEP"></app-message>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Cidade</label>
          <input pInputText type="text"  [(ngModel)]="pessoa.endereco.cidade" name="cidade" #cidade="ngModel" required>
          <app-message [controle]="cidade" erro="required" texto="Informe o bairro"></app-message>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Estado</label>
          <input pInputText type="text"  [(ngModel)]="pessoa.endereco.estado" name="estado" #estado="ngModel" required>
          <app-message [controle]="estado" erro="required" texto="Informe o estado"></app-message>
        </div>

        <div class="ui-g-12">
          <p-panel header="Contatos">
             <app-pessoa-cadastro-contato [contatos]="pessoa.contatos"></app-pessoa-cadastro-contato>
          </p-panel>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" [disabled]="!formulario.valid"></button>
          <button pButton type="button" label="Nova" class="ui-button-info"  (click)="nova(formulario)"></button>

          <a routerLink="/pessoas">Voltar para a pesquisa</a>

        </div>
      </div>

    </form>
</div>
